@font-face {
    font-family: mplus;
    src: url(../fonts/MPLUS.ttf);
  }



body {
    font-family: mplus;
    background-color: var(--arriere);
    color: white;
    display: inline-block;
    margin: 0;

    --arriere : #AEECEF;
    --bandeau : #80DED9;
    --carte : #6D9DC5;
    --fonce : #119DA4;
    --fonce2 : #3066BE;
    }

#bandeau {
    width: 100%;
    height: 25vh;
    background-color: var(--fonce);
    display: flex;
    flex-wrap: wrap;
    border-radius: 25% 25% 50% 50% / 0% 0% 25% 25%;
    z-index: 50;
    
}

#bandeau nav {
    position: relative;
}

#sousbandeau {
    width: 100%;
    height: 12vh;
    margin-top: -3vh;
    background-color: var(--fonce2);
    box-shadow: 0 -6vh 0 0 var(--fonce2);
    position: relative;
    z-index: -1;
    padding-top: 2vh;
    
}

.navigation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.navbouton {
    width: 15%;
    position: relative;
    height: 6vh;
    border: solid var(--fonce);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 2vh; 
    border-radius: 20px;
    font-size: 100%;
    

}

.navbouton:hover{
    background-color: var(--arriere);
    cursor: pointer;
}



#logo {
    margin-top: 1vh;
    height:90% ;
    margin-left: 30px;
    border-radius: 30px 30px 30px 30px;    
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.images img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imgcarte {
    width: 30%;
    height: 40vh;
    background-color: var(--carte);
    border-radius: 20px;
    padding: 5px;
    align-items:center;
    margin-bottom: 5vh;
    text-align: center;
}

.imgcarte:hover {
    background-color: var(--bandeau);
}

@media screen and (max-width: 1200px) {
    
.imgcarte{
    width: 45%;
}

.navbouton {
    width: 400px;
    margin-bottom: 10px;
}

#sousbandeau {
    height: 15vh;
}
}

@media screen and (max-width: 700px) {
    
    .imgcarte{
        width: 95%;
    }
    
    .navbouton {
        width: 500px;
    }

    #sousbandeau {
        height: 25vh;
    }
    }